{% extends 'base.html' %}
{% load static %}

{% block title %}{{ reglament_type }} {{ department.name }}{% endblock title %}

{% block content %}

<div class="row mb-5">
    <div class="col-md-2 col-sm-12"></div>
    <div class="col-md-8 col-sm-12">
        <h2 class="mb-4 text-center"><b>{{ reglament_type }} подразделения {{ department.name }}</b></h2>
        {% if object_list %}
            {% for reglament in object_list %}
                {% if request.user.position in reglament.access.all %}
                    <div class="card p-3 mb-3 border-secondary">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <img width="50%" height="auto" src="{% static 'images/doc-item.png' %}">
                            </div>
                            <div class="col-md-9">
                                <h4>{{ reglament.name }}</h4>
                                {% if reglament.instruction_type == 'position_instruction' %}
                                    <a class="mt-4 btn btn-primary" href="{% url 'position_instructions_detail' reglament.department.slug reglament.slug %}" role="button">Подробнее</a>
                                {% else %}
                                    <a class="mt-4 btn btn-primary" href="{% url 'job_instructions_detail' reglament.department.slug reglament.slug %}" role="button">Подробнее</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-center"><i class='bx bx-confused'></i> Похоже, тут пока ничего нет</p>
        {% endif %}
    </div>
    <div class="col-md-2 col-sm-12"></div>
</div>

{% endblock content %}
