{% extends 'base.html' %}
{% load static %}

{% block title %}Сотрудники {{ department.name }}{% endblock title %}

{% block content %}

<div class="row mb-5">
    <div class="col-md-2 col-sm-12"></div>
    <div class="col-md-8 col-sm-12">
        <h2 class="mb-4 text-center"><b>Сотрудники подразделения {{ department.name }}</b></h2>
        {% if object_list %}
            {% for employee in object_list %}
                <div class="card p-3 mb-3 border-secondary">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img width="70%" height="auto" src="{{ employee.image.url }}">
                        </div>
                        <div class="col-md-9">
                            <h4>{{ employee.get_full_name }}</h4>
                            {% if employee.birth_date %}
                                <p><i class='bx bx-cake'></i> День рождения: {{ employee.birth_date }}</p>
                            {% endif %}
                            {% autoescape off %}
                                <p>{{ employee.bio }}</p>
                            {% endautoescape off %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center"><i class='bx bx-confused'></i> Похоже, тут пока ничего нет</p>
        {% endif %}
    </div>
    <div class="col-md-2 col-sm-12"></div>
</div>

{% endblock content %}
