{% extends 'base.html' %}
{% load static %}

{% block title %}Стажировка {{ department }}{% endblock title %}

{% block content %}

<div class="row mb-5">
    <div class="col-md-2 col-sm-12"></div>
    <div class="col-md-8 col-sm-12">
        <h2 class="mb-4 text-center"><b>Стажировка в подразделении {{ department }}</b></h2>
        {% if object_list %}
            {% for post in object_list %}
                <div class="card p-3 mb-3 border-secondary">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img width="50%" height="auto" src="{{ post.img.url }}">
                        </div>
                        <div class="col-md-9">
                            {% if post.day %}
                                <p class="mb-1"><i class='bx bx-calendar'></i> День {{ post.day }}</p>
                            {% endif %}
                            <h4>{{ post.name }}</h4>
                            <a class="mt-3 btn btn-primary" href="{% url 'traineeship_detail' department.slug post.slug %}" role="button">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if is_paginated %}
                <nav class="mb-5" aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link text-danger" href="?page=1" tabindex="-1">В начало</a>
                        </li>
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Пред.</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Пред.</a>
                            </li>
                        {% endif %}
                        
                        {% for n in object_list.paginator.page_range %}
                            {% if object_list.number == n %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                </li>
                            {% elif n > object_list.number|add:-5 and n < object_list.number|add:5 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">След.</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">След.</a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link text-success" href="?page={{ object_list.paginator.page_range|length }}" tabindex="-1">В конец</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}

        {% else %}
            <p class="text-center"><i class='bx bx-confused'></i> Похоже, тут пока ничего нет</p>
        {% endif %}
    </div>
    <div class="col-md-2 col-sm-12"></div>
</div>

{% endblock content %}
