{% extends 'base.html' %}
{% load static %}

{% block title %}Лучшие сотрудники{% endblock title %}

{% block content %}

<div class="row mb-5">
    <div class="col-md-2 col-sm-12"></div>
    <div class="col-md-8 col-sm-12">
        <h2 class="mb-4 text-center"><b>Лучшие сотрудники</b></h2>
        {% if object_list and employees_by_position %}
            {% for employee in object_list %}
                {% if request.user.position in employee.access.all %}
                    <div class="card p-3 mb-3 border-secondary">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <img width="70%" height="auto" src="{{ employee.employee.image.url }}">
                            </div>
                            <div class="col-md-9">
                                <h4>{{ employee.employee.get_full_name }}</h4>
                                {% autoescape off %}
                                    <p>{{ employee.text }}</p>
                                {% endautoescape off %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-center"><i class='bx bx-confused'></i> Похоже, тут пока ничего нет</p>
        {% endif %}
    </div>
    <div class="col-md-2 col-sm-12"></div>
</div>

{% endblock content %}
