{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.name }}{% endblock title %}

{% block head %}
    {% include 'imports.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
{% endblock head %}

{% block content %}

    <a class="btn btn-danger my-3" href="{% url 'gallery' %}" role="button"><i class="bx bx-left-arrow-alt"></i> Назад</a>

    {% if request.user.position in object.access.all %}
            <div class="card radius-10 w-100">
                <div class="text-center p-5">
                    <h2>{{ object.name }}</h2>
                    <p>{{ object.text|safe }}</p>
                </div>
                {% if object.image_set.all or object.video_set.all %}
                    <div class="row">
                        {% for item in object.image_set.all %}
                            <div class="col-md-2 col-sm-12 item gal">
                                <a href="{{ item.image.url }}" class="fancybox" data-fancybox="gallery1">
                                    <img
                                        class="square" src="{{ item.image.url }}" onclick="openModal();currentSlide(1)"
                                        alt="Фото">
                                </a>
                            </div>
                        {% endfor %}
                        {% for item in object.video_set.all %}
                            <div class="col-md-2 col-sm-12 item gal">
                                <a href="{{ item.video.url }}" class="fancybox" data-fancybox="gallery1">
                                    <video class="square" src="{{ item.video.url }}" onclick="openModal();currentSlide(1)" alt="Видео">
                                    </video>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-center"><i class='bx bx-confused'></i> Похоже, что ни одно фото или видео ещё не загрузили</p>
                {% endif %}
            </div>
    {% else %}
        <p class="text-center"><i class='bx bxs-lock'></i> Доступ запрещён</p>
    {% endif %}

{% endblock content %}
