{% extends 'base.html' %}
{% load static %}

{% block title %}Вакансии{% endblock title %}

{% block content %}

<div class="row mb-5">
    {% if request.user.position in boss_permission.permission.all %}
        <div class="col-md-2 col-sm-12"></div>
        <div class="col-md-8 col-sm-12">
            <h2 class="mb-4 text-center"><b>Открытие вакансии</b></h2>
            {% if object_list %}
                {% for vacancy in object_list %}
                    <div class="card p-3 mb-3 border-secondary">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <img width="50%" height="auto" src="{{ vacancy.image.url }}">
                            </div>
                            <div class="col-md-9">
                                <h4>{{ vacancy.position }}</h4>
                                <a class="mt-4 btn btn-primary" href="{{ vacancy.get_vacancy_url }}{{ vacancy.slug }}" role="button">Подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center"><i class='bx bx-confused'></i> Похоже, тут пока ничего нет</p>
            {% endif %}
        </div>
        <div class="col-md-2 col-sm-12"></div>

        {% if is_paginated %}
            <nav class="mb-5" aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link text-danger" href="?page=1" tabindex="-1">В начало</a>
                    </li>
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Пред.</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Пред.</a>
                        </li>
                    {% endif %}
                    
                    {% for n in object_list.paginator.page_range %}
                        {% if object_list.number == n %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                            </li>
                        {% elif n > object_list.number|add:-5 and n < object_list.number|add:5 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">След.</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">След.</a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link text-success" href="?page={{ object_list.paginator.page_range|length }}" tabindex="-1">В конец</a>
                    </li>
                </ul>
            </nav>
        {% endif %}

    {% else %}
        <p class="text-center"><i class='bx bxs-lock'></i> Доступ запрещён</p>
    {% endif %}
</div>

{% endblock content %}
